* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #eee;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #fff;
  background: linear-gradient(90deg, #672280, #a626d3);
}
.left-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.troll-face {
  width: 50px;
  height: 40px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.input-text {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  text-transform: capitalize;
  border: 1px solid #d5d4d8;
}

.button-generator {
  grid-column: span 2;
  background: linear-gradient(90deg, #672280, #a626d3);
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}
.image-meme {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
